// Animations - stores keyframes and animation classes


@-moz-keyframes fade-out {
  from  { opacity: 1;}
  to    { opacity: 0; }
}

@-webkit-keyframes fade-out {
  from  { opacity: 1;}
  to    { opacity: 0; }
}

@keyframes fade-out {
  from  { opacity: 1;}
  to    { opacity: 0; }
}

.fade-out {
  -webkit-animation-name: fade-out;
  -webkit-animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade-out;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}
