.bio {  // header
  width: 45%;
  &__title {
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .4rem;
    font-size: 1.7rem;
    float: left;
  }
  &__pic {
    display: none;
    width: 70px;
    height: 70px;
    float: left;
    margin-bottom: 20px;
    margin-right: 25px;
    border: 2px double #eee;
    border-radius: 100%;
  }
  &__copy {
    width: 100%;
    opacity: .9;
    color: #bbb;
    font-size: .8rem;
    float: left;
    line-height: 1.7rem;
    overflow-y: auto;
    height: 100px;
//    font-weight: 100;
//    -webkit-columns: 200px 2;
//    -webkit-column-gap: 35px;
//    -moz-columns: 200px 2;
//    -moz-column-gap: 35px;
//    columns: 200px 2;
//    column-gap: 35px;
  }
}