// Main layout styling

.intro-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.content-container {
  display: none;    // hide content overlay on load
}

.video-container {
  display: none;    // hide main loop on load
}