// Holds state classes

.loader {
  height: 100%;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-40px, -40px);
  z-index: 10;
}

svg path,
svg rect {
  fill: #fff;
}

.hide {
  display: none;
  opacity: 0;
}

.show {
  opacity: 1;
  display: block;
}

.selected {
  opacity: 1;
}

.blur {
  -webkit-filter: blur(7px);
  filter: blur(7px);
}