* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  color: #FFF;
}

.button {
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .4rem;
  font-weight: 100;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  background-color: rgba(0,0,0, .3);
  border: 1px solid #eee;
  opacity: .6;
  transition: all .2s linear;
  &:hover {
    opacity: 1;
  }
  &--intro {
    @extend .button;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-100px);
  }
}

video {
  width: 100%;
  height: 100%;
  background-color: #111;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .7;
}

progress::-webkit-progress-value {
  background-color: #FFF;
}