* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: helvetica, arial, sans-serif;
  color: #FFF; }

.button, .button--intro {
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  background-color: #333;
  opacity: .6;
  transition: all .2s linear; }
  .button:hover, .button--intro:hover {
    opacity: 1;
    box-shadow: 0px 2px 20px 0px #000; }
  .button--intro {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-100px); }

video {
  width: 100%;
  height: 100%;
  background-color: #111;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1; }

progress {
  width: 100%; }
